{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "compact": false,
  "ignore": [
    "src/assets/javascript/*.js"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
