/* alphabet pagination */
.kiosk-page-nav .paging-slide {
  font-weight: 700;
  font-size: 42px;
  color: #737373;
}

.kiosk-page-nav .paging-swiper {
  height: 100%;
}

.kiosk-page-nav {
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  transform: translateX(-50%);
}

.kiosk-page-nav .swiper-wrapper li span {
  font-weight: 700;
  cursor: pointer;
}

.kiosk-page-nav .swiper-wrapper li.active {
  color: #0068c1;
}

.kiosk-page-nav .kiosk-page-inner {
  overflow: hidden;
  width: 760px;
  height: 100%;
  margin: 0 auto;
}

.kiosk-page-nav .swiper-button-prev,
.kiosk-page-nav .swiper-button-next {
  position: absolute;
  top: 22px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #0068c1;
}

.kiosk-page-nav .swiper-button-prev {
  left: 50px;
}

.kiosk-page-nav .swiper-button-next {
  right: 50px;
}

/*
kiosk-re-deal-list.vue
*/

.sort-dropdown .el-select-dropdown__wrap {
  max-height: none;
}

.deal-sort-box .el-select .el-input__inner {
  max-width: 150px;
  padding: 0 46px 0 0;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #363636;
}

.deal-sort-box .el-select .el-input__suffix i {
  font-weight: 500;
  font-size: 28px;
}

.sort-dropdown {
  border: 3px solid #dedede !important;
}

.sort-dropdown .el-select-dropdown__item.selected {
  color: #0068c1 !important;
}

.sort-dropdown .el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: transparent;
}

.sort-dropdown.el-popper
  .el-scrollbar
  .el-scrollbar__wrap
  ul.el-select-dropdown__list
  li.el-select-dropdown__item {
  width: 293px;
  height: auto;
  padding: 30px;
  font-weight: 500 !important;
  font-size: 28px;
}

/*
  kisok-deal-list-detail.vue
*/

.re-kiosk .kiosk-re-deal-detail .el-dialog__header {
  padding: 50px 0 !important;
  background: #f0f4fb;
  text-align: center;
}
.re-kiosk .kiosk-re-deal-detail .el-dialog__header .el-dialog__title {
  color: #363636 !important;
  font-size: 40px;
  font-weight: bold;
}
.re-kiosk .kiosk-re-deal-detail .el-dialog__headerbtn {
  display: none;
}

.re-kiosk .kiosk-re-deal-detail .el-dialog {
  border-radius: 20px;
  overflow: hidden;
  width: 75% !important;
}

.re-kiosk .kiosk-re-deal-detail .el-dialog__footer {
  padding: 30px 50px;
}

.re-kiosk .kiosk-re-deal-detail .dialog-footer button span {
  font-weight: bold;
}
/* .re-kiosk .kiosk-re-deal-detail .dialog-footer .btn-cancel:hover {background: #e4e4e4;} */
.re-kiosk .kiosk-re-deal-detail .dialog-footer .btn-comple {
  margin-left: 30px;
  color: #fff;
}

.re-kiosk .sec-con h4 {
  font-size: 32px;
  margin: 60px 0 30px;
}
.re-kiosk .sec-con span {
  font-weight: bold;
}
.re-kiosk .sec-con .char-btn {
  font-size: 32px;
  padding: 55px 40px;
  background: #fff;
  border: 3px solid #dedede !important;
  border-radius: 20px !important;
  width: 100%;
  text-align: left;
  color: #363636;
  position: relative;
}
.re-kiosk .sec-con .char-btn:before {
  position: absolute;
  content: '';
  right: 40px;
  top: 50%;
  width: 20px;
  height: 38px;
  background: url(../../kiosk-re-img/icon_bank_back.svg) no-repeat 50% 50%;
  background-size: cover;
  transform: translateY(-50%) rotateZ(180deg);
}

.re-kiosk .kiosk-re-deal-detail .el-dialog__body {
  padding: 60px 50px !important;
}

.re-kiosk .kiosk-re-deal-detail .acc-info .row {
  display: flex;
}

/* kiosk-detail-form */
.kiosk-detail-form .kiosk-detail-form-title {
  padding: 30px 0;
}

.kiosk-kyc-form .el-checkbox {
  font-size: 30px;
}

.kiosk-kyc-form .el-checkbox .el-checkbox__label {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #29304d;
}

.kiosk-kyc-form .el-radio {
  width: auto;
  padding: 0;
  margin-right: 100px;
}

.kiosk-kyc-form .el-radio__input {
  top: -7px;
  width: 30px;
  height: 30px;
}

.kiosk-kyc-form .el-checkbox__input .el-checkbox__inner {
  width: 30px;
  height: 30px;
  background: none;
  border: solid 2px rgba(41, 48, 77, 0.6);
}

.kiosk-kyc-form .el-checkbox__input .el-checkbox__inner::after {
  display: none;
}

.kiosk-kyc-form .el-radio__input .el-radio__inner {
  width: 30px;
  height: 30px;
  background: none;
  border: solid 2px rgba(41, 48, 77, 0.6);
}

.kiosk-kyc-form .el-radio__input .el-radio__inner::after {
  width: 20px;
  height: 20px;
  background: #0068c1;
}

.kiosk-kyc-form .el-radio__label {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #29304d;
}

.kiosk-kyc-form .el-radio.is-checked .el-radio__label {
  color: #29304d;
}

.kiosk-kyc-form textarea {
  border-radius: 25px !important;
  font-size: 30px;
  padding: 20px;
}

.kiosk-select-box .el-input {
  width: 100%;
  height: 90px;
}

.kiosk-select-box .el-input .el-input__inner {
  height: 90px !important;
  border: none;
  border-radius: 20px !important;
  padding-left: 30px;
  background-color: #fff !important;
  font-size: 30px;
  text-align: left;
  box-sizing: border-box;
}

.kiosk-select-box .el-input .el-input__inner::placeholder {
  font-weight: 400;
  font-size: 30px;
  color: #363636;
}

.kiosk-select-box .el-input.is-disabled.switch-input .el-input__inner {
  background-color: #dcdfe6 !important;
}

.kiosk-select-box .el-input__inner::placeholder {
  font-weight: 500;
}

.kiosk-select-box .el-tabs__content .el-input__inner::placeholder {
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #768098;
}

.re-kiosk .el-input .el-input__inner::placeholder {
  color: #363636;
}

.re-kiosk .el-select-dropdown {
  box-shadow: none;
  top: 495px;
  border-radius: 30px;
}

.re-kiosk .el-select-dropdown .el-select-dropdown__item {
  width: auto;
  height: auto !important;
  padding: 0;
}

.re-kiosk .el-select-dropdown .el-select-dropdown__item span {
  border-top: 1px solid #dee1ef;
}

.re-kiosk .el-select-dropdown .el-select-dropdown__item:first-child span {
  border-top: none;
}

.re-kiosk .detail-form-popper {
  border: 3px solid #dedede !important;
}

.re-kiosk .el-select-dropdown__list {
  padding: 0;
}

.re-kiosk .el-select-dropdown__item span {
  display: block;
  padding: 20px 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.34px;
  color: #363636;
}

.re-kiosk .detail-form-popper .el-select-dropdown__item span {
  font-weight: 400;
}

/*
  kisok-deal-list-detail.vue 2
*/

.re-kiosk .kiosk-detail-form-title {
  padding: 30px 0 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
}

.re-kiosk .kiosk-detail-field-title {
  padding: 30px 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 32px;
  color: #7e7e7e;
}

.re-kiosk .kiosk-detail-field-title strong {
  color: red;
}
