/* 푸터 */

.el-popper[x-placement^='bottom'] .popper__arrow {
  left: 88px !important;
  display: none;
}

.el-collapse-item__wrap {
  margin-top: 16px;
}

.el-select .el-input .el-select__caret {
  vertical-align: super;
}

.el-collapse-item__arrow {
  font-size: 20px;
}

.el-collapse-item__content > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 40px;
}

.el-collapse-item__content > ul > li {
  float: left;
  width: 14%;
}

.el-collapse-item__content > ul > li:nth-child(2),
.el-collapse-item__content > ul > li:nth-child(3),
.el-collapse-item__content > ul > li:nth-child(4),
.el-collapse-item__content > ul > li:nth-child(7) {
  width: 13.5%;
}

.el-collapse-item__content > ul > li:nth-child(4) {
  height: 2px;
}

.el-collapse-item__content > ul > li > ul > li > a {
  display: inline-block;
  margin-bottom: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  line-height: 21px;
  color: #999;
  text-align: left;
  letter-spacing: -0.56px;
  transition: 0.2s;
}

.el-collapse-item__content > ul > li > ul > li > a:hover {
  color: #0068c1;
  text-decoration: underline;
}

.el-collapse-item__content {
  padding: 0 !important;
}

.el-collapse-item__arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.el-collapse-item__arrow.is-active {
  -webkit-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}

.el-collapse-item__header.is-active {
  border-bottom: 1px solid #eee !important;
}

footer .el-collapse-item__header {
  padding: 0 !important;
  height: 64px;
  line-height: 64px;
}

/* color */

.Footer-Area_danger_YPfj_ {
  font-weight: normal !important;
  color: #d32f2f !important;
}

/* 푸터 */
footer {
  padding-top: 0;
  background: #fff;
  /* footer 상단 */
}

footer .container {
  box-sizing: border-box;
  width: 1080px;
  margin: 0 auto;
}

footer .container::after {
  display: block;
  clear: both;
  content: '';
}

.footerMenu {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  width: 100%;
}

.footerMenu > li {
  float: left;
  width: 14%;
}

.footerMenu > li > a {
  display: flex;
  height: 64px;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #000;
}

.footerMenu > li:hover > a {
  color: #0068c1;
}

.footerMenu > li:last-child {
  text-align: right;
}

footer .coinUseArea {
  width: 100%;
  padding: 35px 0;
  background: url(~assets/img/waveBackground.png) no-repeat 50%, 50%;
  background-size: cover;
}

footer .coinUseArea strong {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #fff;
}

footer .coinUseArea p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #bbebf9;
}

footer .coinUseArea .tipArea {
  margin-top: 8px;
}

footer .coinUseArea .tipArea .tip {
  display: inline-block;
  width: 36px;
  height: 18px;
  margin-right: 8px;
  line-height: 1;
  text-align: center;
  background: #fff;
  border-radius: 50px;
}

footer .coinUseArea .tipArea .tip span {
  display: inline-block;
  margin: 2px 0 3px;
  font-size: 12px;
  font-weight: normal;
  color: #8bb0d2;
}

footer .coinUseArea .tipArea > span {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.75;
  color: #e8f4fe;
  text-align: left;
  letter-spacing: -0.48px;
}

footer .textBox {
  position: relative;
  padding: 26px 0;
}

footer .textBox p {
  width: 80%;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: #999;
  letter-spacing: 0;
}

footer .textBox .footerLogo {
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
}

footer .copy {
  border-top: 1px solid #e5e5e5;
}

footer .copy p {
  padding: 3px 0 3px;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  text-align: center;
  letter-spacing: 0;
}

footer strong {
  display: block;
  margin-top: 0 !important;
  margin-bottom: 14px !important;
  line-height: 21px;
  text-decoration: none;
}

.danger {
  color: #d32f2f;
}

/* 업버튼 */

.upButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 500;
  width: 64px;
  cursor: pointer;
}
