.assetList {
  height: 680px;
  padding: 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;

  .assetSearch {
    margin-bottom: 20px;
  }

  .tabs {
    .perfectScrollbar {
      max-height: 560px;
    }
  }

  .fixedValue {
    height: 335px;
  }

  .coinList {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;

    &.selected {
      color: #0068c1;
      background-color: #f4f9ff;
      border-bottom: 1px solid #0068c1;
    }

    p {
      float: left;
      width: 20px;
      height: 20px;
      padding-right: 10px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }

    span {
      cursor: pointer;
    }

    .favorite {
      float: right;
      margin: 0;
    }
  }
}
