.toggle-svg {
  width: 20px;
  height: 18px;
  position: absolute;
}

.gnb-svg {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: -5px;
}

.dash-menu-svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 14px;
  display: none;
}

.coin-icon {
  margin-right: 1.2rem;
  margin-left: 1.4rem;
  display: inline-block;
}

.coin-select svg {
  width: 31px;
  height: 56px;
}

.coin-select .coin-name {
  color: white;
  font-size: 20px;
  line-height: 56px;
}

.coin-select .drop-icon {
  margin-left: auto;
  line-height: 40px;
  width: 10px;
}

.coin-select .drop-icon img {
  transition: transform 0.5s;
  width: 100%;
}

.coin-select .drop-icon.open img {
  transform: rotate(180deg);
}

.coin-item {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
  display: inline-block;
}

.coin-list .coin-item {
  background-color: transparent;
}

.flag svg {
  width: 14px;
  height: 14px;
}

.gift-icon {
  width: 110px;
}

.pennant-icon {
  display: inline-flex;
  align-self: center;
  vertical-align: middle;
}

.pennant-icon svg {
  width: 24px;
  height: 24px;
  color: #fff;
}

.coin-tri {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1px;
}

.triarrow-svg {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 5px;
}

.coinname-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
}

.tridown-svg {
  width: 14px;
  height: 14px;
}

.graph-svg {
  width: 140px;
  height: 48px;
  position: absolute;
  top: 7px;
  left: 20px;
}

.flag-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -2px;
}

.tab-svg {
  width: 14px;
  height: 14px;
  position: absolute;
}

.orders-wrap .tabs li.on svg,
.trades-wrap .tabs li.on svg {
  fill: #9b59b6;
}

.wallet-svg {
  width: 23px;
  height: 23px;
  margin: 30px 15px 0 0;
}

.ref-svg {
  width: 16px;
  height: 16px;
}

.ref-fa .ref-svg {
  position: absolute;
  top: 1.5px;
  left: 74%;
}

.ref-tw .ref-svg {
  position: absolute;
  top: 1.5px;
  left: 78%;
}

.settings-svg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 17px;
  left: 20px;
}

.svg-sns {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: 24px;
}

.pencle-svg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
}

.select-svg {
  width: 24px;
  height: 24px;
}

.copy-svg {
  width: 14px;
  height: 14px;
  display: none;
}

.one-svg {
  width: 14px;
  height: 14px;
}

.wallet-right .swap-box .coin-item.select .check-svg {
  display: block;
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  top: -7px;
  right: -5px;
}

.check-svg {
  display: none;
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  top: -7px;
  right: -5px;
}

.swap-svg {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.volati-svg {
  width: 18px;
  height: 18px;
  position: absolute;
}

.yet-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: 140px;
}

.tri-svg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  right: 2px;
}

.gra-svg {
  width: 120px;
  height: 28px;
  position: absolute;
  top: 19px;
  left: 8px;
}

.ETH {
  background-image: url(../img/ETH.png);
}

.BTC {
  background-image: url(../img/BTC.png);
}

.EOS {
  background-image: url(../img/EOS.png);
}

.XRP {
  background-image: url(../img/XRP.png);
}

.page-deposit-application .coin-list-wrap .coin-list:nth-child(5) {
  display: none;
}

.GSH {
  background-image: url(../img/GSH.png);
}

.USDT {
  background-image: url(../img/USDT.png);
}

.KRW {
  background-image: url(../img/krw.svg);
}

.CCF {
  background-image: url(../img/cocofx-favico.png);
}

.ABBC {
  background-image: url('../img/icon/ABBC.svg');
}

.ATOM {
  background-image: url('../img/icon/ATOM.svg');
}

.BAL {
  background-image: url('../img/icon/BAL.svg');
}

.BAND {
  background-image: url('../img/icon/BAND.svg');
}

.BTG {
  background-image: url('../img/icon/BTG.svg');
}

.BTT {
  background-image: url('../img/icon/BTT.svg');
}

.CEL {
  background-image: url('../img/icon/CEL.svg');
}

.COMP {
  background-image: url('../img/icon/COMP.svg');
}

.CVT {
  background-image: url('../img/icon/CVT.svg');
}

.DAI {
  background-image: url('../img/icon/DAI.svg');
}

.DGB {
  background-image: url('../img/icon/DGB.svg');
}

.DOGE {
  background-image: url('../img/icon/DOGE.svg');
}

.ENJ {
  background-image: url('../img/icon/ENJ.svg');
}

.EWT {
  background-image: url('../img/icon/EWT.svg');
}

.GNT {
  background-image: url('../img/icon/GNT.svg');
}

.HBAR {
  background-image: url('../img/icon/HBAR.svg');
}

.HUSD {
  background-image: url('../img/icon/HUSD.svg');
}

.LEND {
  background-image: url('../img/icon/LEND.svg');
}

.LTC {
  background-image: url('../img/icon/LTC.svg');
}

.MANA {
  background-image: url('../img/icon/MANA.svg');
}

.MKR {
  background-image: url('../img/icon/MKR.svg');
}

.MONA {
  background-image: url('../img/icon/MONA.svg');
}

.QTUM {
  background-image: url('../img/icon/QTUM.svg');
}

.REN {
  background-image: url('../img/icon/REN.svg');
}

.REP {
  background-image: url('../img/icon/REP.svg');
}

.SC {
  background-image: url('../img/icon/SC.svg');
}

.SNT {
  background-image: url('../img/icon/SNT.svg');
}

.SOL {
  background-image: url('../img/icon/SOL.svg');
}

.STX {
  background-image: url('../img/icon/STX.svg');
}

.SXP {
  background-image: url('../img/icon/SXP.svg');
}

.TUSD {
  background-image: url('../img/icon/TUSD.svg');
}

.USDC {
  background-image: url('../img/icon/USDC.svg');
}

.WBTC {
  background-image: url('../img/icon/WBTC.svg');
}

.XMR {
  background-image: url('../img/icon/XMR.svg');
}

.YFI {
  background-image: url('../img/icon/YFI.svg');
}

.ZB {
  background-image: url('../img/icon/ZB.svg');
}

.ZEC {
  background-image: url('../img/icon/ZEC.svg');
}

.ZRX {
  background-image: url('../img/icon/ZRX.svg');
}

.ADA {
  background-image: url('../img/icon/ADA.svg');
}

.ALGO {
  background-image: url('../img/icon/ALGO.svg');
}

.AMPL {
  background-image: url('../img/icon/AMPL.svg');
}

.ANT {
  background-image: url('../img/icon/ANT.svg');
}

.BAT {
  background-image: url('../img/icon/BAT.svg');
}

.BCD {
  background-image: url('../img/icon/BCD.svg');
}

.BCH {
  background-image: url('../img/icon/BCH.svg');
}

.BNB {
  background-image: url('../img/icon/BNB.svg');
}

.BTM {
  background-image: url('../img/icon/BTM.svg');
}

.BUSD {
  background-image: url('../img/icon/BUSD.svg');
}

.CELO {
  background-image: url('../img/icon/CELO.svg');
}

.CKB {
  background-image: url('../img/icon/CKB.svg');
}

.DASH {
  background-image: url('../img/icon/DASH.svg');
}

.DCR {
  background-image: url('../img/icon/DCR.svg');
}

.DOT {
  background-image: url('../img/icon/DOT.svg');
}

.ENJ {
  background-image: url('../img/icon/ENJ.svg');
}

.EOS {
  background-image: url('../img/icon/EOS.svg');
}

.ETC {
  background-image: url('../img/icon/ETC.svg');
}

.FTT {
  background-image: url('../img/icon/FTT.svg');
}

.HEDG {
  background-image: url('../img/icon/HEDG.svg');
}

.HT {
  background-image: url('../img/icon/HT.svg');
}

.ICX {
  background-image: url('../img/icon/ICX.svg');
}

.IOST {
  background-image: url('../img/icon/IOST.svg');
}

.KNC {
  background-image: url('../img/icon/KNC.svg');
}

.KSM {
  background-image: url('../img/icon/KSM.svg');
}

.LEO {
  background-image: url('../img/icon/LEO.svg');
}

.LINK {
  background-image: url('../img/icon/LINK.svg');
}

.LRC {
  background-image: url('../img/icon/LRC.svg');
}

.LSK {
  background-image: url('../img/icon/LSK.svg');
}

.MIOTA {
  background-image: url('../img/icon/MIOTA.svg');
}

.NEO {
  background-image: url('../img/icon/NEO.svg');
}

.NMR {
  background-image: url('../img/icon/NMR.svg');
}

.OCEAN {
  background-image: url('../img/icon/OCEAN.svg');
}

.OKB {
  background-image: url('../img/icon/OKB.svg');
}

.ONT {
  background-image: url('../img/icon/ONT.svg');
}

.OXT {
  background-image: url('../img/icon/OXT.svg');
}

.PAX {
  background-image: url('../img/icon/PAX.svg');
}

.PMA {
  background-image: url('../img/icon/PMA.svg');
}

.QNT {
  background-image: url('../img/icon/QNT.svg');
}

.RVN {
  background-image: url('../img/icon/RVN.svg');
}

.STORJ {
  background-image: url('../img/icon/STORJ.svg');
}

.THETA {
  background-image: url('../img/icon/THETA.svg');
}

.TRX {
  background-image: url('../img/icon/TRX.svg');
}

.UNI {
  background-image: url('../img/icon/UNI.svg');
}

.VET {
  background-image: url('../img/icon/VET.svg');
}

.WAVES {
  background-image: url('../img/icon/WAVES.svg');
}

.XEM {
  background-image: url('../img/icon/XEM.svg');
}

.XLM {
  background-image: url('../img/icon/XLM.svg');
}

.XRP {
  background-image: url('../img/icon/XRP.svg');
}

.XTZ {
  background-image: url('../img/icon/XTZ.svg');
}

.ZIL {
  background-image: url('../img/icon/ZIL.svg');
}

.GIX {
  background-image: url('../img/icon/GIX.svg');
}

.BTP {
  background-image: url('../img/icon/BTP.svg');
}

.AIS {
  background-image: url('../img/icon/AIS.png');
}
.EZW_TRC20 {
  background-image: url('../img/icon/EZW.png');
}
.GuoBao {
  background-image: url('../img/icon/GuoBao.png');
}
.AVM {
  background-image: url('../img/icon/AVM.png');
}
.SSC {
  background-image: url('../img/icon/SSC.png');
}
/* 계좌목록 */
.pay-bank-wallet .no-deal-list {
  width: 100%;
  background: #fff;
  height: 150px;
}

.pay-bank-wallet .no-deal-list p {
  text-align: center;
  line-height: 150px;
}

/* 푸터 아이콘 */
.footer-item .fa {
  background-image: url(../img/fa.png);
}

.footer-item .in {
  background-image: url(../img/in.png);
}

.footer-item .tw {
  background-image: url(../img/tw.png);
}

.footer-item .te {
  background-image: url(../img/te.png);
}

.terms-icon {
  background-image: url(../img/drop.png);
  background-repeat: no-repeat;
  background-size: 11px 7px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center bottom;
}

.ko {
  background-image: url(../img/kr.svg);
}

.ja {
  background-image: url(../img/jp.svg);
}

.ch {
  background-image: url(../img/ch.svg);
}

.us {
  background-image: url(../img/us.svg);
}

.TW {
  background-image: url(../img/tw.svg);
}

.fr {
  background-image: url(../img/fr.svg);
}

.de {
  background-image: url(../img/de.svg);
}

.vi {
  background-image: url(../img/vi.svg);
}

.es {
  background-image: url(../img/es.svg);
}

.br {
  background-image: url(../img/br.svg);
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  .yet-svg {
    left: 119px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gnb-svg {
    right: -5px;
  }

  .tab-svg {
    left: 5px;
  }

  .yet-svg {
    left: 160px;
  }
}

@media (max-width: 767px) {
  .gift-icon {
    width: 70px;
  }

  .tab-svg {
    top: 15px;
    left: 20px;
  }

  .svg-sns {
    left: 11px;
  }

  .yet-svg {
    left: 67px;
  }
}
